<div class="perfil">


<h1>Perfil 💜</h2>
<img src="/images/gatito-usuario.png" alt="gatito-admin" width="300px">
<h2>Bienvenido/a, {{foundUser.username}}</h2>

<br>


<div>
    <h3>Historial de compra</h3>
    <table class="table table-bordered table-striped table-css">
    <thead>
        <th style="text-align:center">Nombre del producto</th>
        <th style="text-align:center">Precio</th>
        <th style="text-align:center">Método de pago</th>
        <th style="text-align:center">Fecha de compra</th>
    </thead>
    <tbody>
        {{#each foundUser.purchasesMade}}
            <tr>
                <td style="text-align:center">{{this.purchasedProduct.name}}</td>
                <td style="text-align:center">{{this.purchasedProduct.price}}</td>
                <td style="text-align:center">{{this.paymentMethod}}</td>
                <td style="text-align:center">{{this.createdAt}}</td>
            </tr>
        {{/each}}    
    </tbody>
</table>
</div>


</div>