<br />
<div class="search-bar">
  <form action="/product/product-search" method="get">
    <input
      name="productName"
      type="text"
      placeholder=" Escribe lo que est茅s buscando ~ "
      list="products"
    />
    <br />
    <button>Buscar</button>
  </form>
</div>
<br />

<div class="category-buttons">
  <a href="/product/videojuegos"><button>Videojuegos</button></a>
  <a href="/product/figura"><button>Figuras</button></a>
  <a href="/product/c贸mic"><button>Manga y c贸mics</button></a>
  <a href="/product/peluche"><button>Peluches</button></a>
  <a href="/product/decoraci贸n"><button>Decoraci贸n y hogar</button></a>
  <a href="/product/miscel谩nea"><button>Otros</button></a>
</div>

<div id="product-list">

  <h1>Categor铆a: {{this.category}}</h1>

  <div id="box">
    {{#each productsByCategory}}
      <div class="product-card box-list">
        <a title="{{this.name}}" href="/product/products/{{this._id}}"><img
            src="{{this.productImage}}"
            alt="Imagen de producto"
            width="180px"
            height="270px"
            id="img-list"
          /></a>
        <br />
        <div id="title-p">
          <a href="/product/products/{{this._id}}">{{this.name}}</a>
          <p>{{this.price}}</p>
        </div>

      </div>
    {{/each}}
  </div>

</div>