 <br />
    <div class="search-bar">
      <form action="/product/product-search" method="get">
        <input
          name="productName"
          type="text"
          placeholder=" Escribe lo que estés buscando ~ 🌺"
          list="products"
        />
        <br>
        <button>Buscar</button>
      </form>
    </div>
    <br />


<div id="not-search">
    <h1>Resultados de tu búsqueda </h1>
 {{#if this.foundProduct}}
    <div class="search-result box-list" id="title-p">
        <a title="{{this.name}}" href="/product/products/{{foundProduct._id}}"><img src="{{foundProduct.productImage}}" alt="Imagen de producto" width="180px" height="270px" id="img-list"/></a>
        <h4>
        <a href="/product/products/{{foundProduct._id}}">{{foundProduct.name}}</a>  
        </h4>
        {{foundProduct.price}}

    </div>
   {{else}}
    <div id="not-search">
      <h3>No se encontró ningún producto, vuelve a intentarlo!</h3>
      <img src="/images/gatito-error.png" alt="gatito-error">
    </div>
    </div>

    {{/if}}