 <br />
    <div class="search-bar">
      <form action="/product/product-search" method="get">
        <input
          name="productName"
          type="text"
          placeholder=" Escribe lo que estés buscando ~ 🌺"
          list="products"
        />
        <br>
        <button>Buscar</button>
      </form>
    </div>
    <br />


<div>
    <h1>Resultados de búsqueda</h1>
 {{#if this.foundProduct}}
    <div class="search-result">
        {{!-- <img src="{{foundProduct.productImg}}" alt=""> --}}
        <h4>
      <a href="/product/products/{{foundProduct._id}}">{{foundProduct.name}}</a>  
        </h4>
        {{foundProduct.price}}

    </div>
   {{else}}
    <div>
 <h3>No se encontró ningún producto</h3>
    </div>
    </div>

    {{/if}}